/*marin-top*/
.mb10{
    margin-top: 10px;
}
.mr10{
    margin-right: 10px;
}
.ml10{
    margin-left: 30px;
}

/*checkbox-circle*/
.checkbox-wrap {
    position: relative;
}
.checkbox-wrap > input {
    visibility: hidden;
}
.checkbox-wrap > .mask-checkbox {
    width: 15px;
    height: 15px;
    color: #0e90d2;
    border: 1px solid #0e90d2;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0;
}
.checkbox-wrap > input[type="checkbox"] + .mask-checkbox::before{
    content: "\a0";

}
.checkbox-wrap > input[type="checkbox"]:checked + .mask-checkbox::before {
    content: "\2714";
    display: inline-block;
    width: 10px;
    height: 10px;
    position: relative;
    left: 0;
    bottom: 3px;
}
.checkbox-wrap > .mask-checkbox:focus{
    box-shadow: 0 0 3px 3px #d24711;
}
.checkbox-wrap > .mask-checkbox+label{
    color:#0e90d2;
    margin-left: 5px;
}

/*loading*/
.sk-three-bounce {
    margin:auto;
    width: 80px;
    text-align: center;
}
.sk-three-bounce .sk-child {
    width: 20px;
    height: 20px;
    background-color: rgb(30, 214, 147);
    border-radius: 100%;
    display: inline-block;
    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}
.sk-three-bounce .sk-bounce1 {
    animation-delay: -0.32s;
}
.sk-three-bounce .sk-bounce2 {
    animation-delay: -0.16s;
}

@keyframes sk-three-bounce {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}